<div class="form-container">
  <h2>Login</h2>
  <form #userForm="ngForm" (ngSubmit)="login()">
    <div class="input-group">
      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="loginData.email" required />
    </div>
    <div class="input-group">
      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="loginData.password" required />
    </div>
    <button class="btn" type="submit" [disabled]="!userForm.valid">Login</button>
  </form>
  <div class="link">
    <a routerLink="/register">Register? New User?</a>
  </div>
</div>
