.form-container {
  background-color: #1e2a38;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  margin: 50px auto;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  background-color: #2d2d2d;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #8000ff;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #a64dff;
}

.link {
  margin-top: 15px;
  text-align: center;
}

.link a {
  color: #ff66cc;
  text-decoration: none;
  font-weight: bold;
}
